In [1]:
import pandas as pd
import numpy as np

In [19]:
esg_df = pd.read_csv('/A UN Equity.csv', index_col= 0 )

In [20]:
esg_df

,Year,ESG Disclosure Score,Environmental Disclosure Score,Direct CO2 Emissions,Total CO2 Emissions,CO2 Intensity per Energy,Total GHG Emissions,NOx Emissions,Total Energy Consumption,Total Water Use,...,Fatalities - Employees,Community Spending,Governance Disclosure Score,Size of Board,Indep Directors,% Indep Directors,Board Duration (Years),# Board Meetings,Board Mtg Attendance,Political Donations
0,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2006,41.3223,34.8837,NaN,NaN,NaN,NaN,NaN,397.500,NaN,...,NaN,6.4,53.5714,9.0,8.0,88.889,3.0,7.0,75.0,NaN
7,2007,50.0000,47.2868,NaN,78.1,0.249,136.000,NaN,313.611,1074.00,...,NaN,6.6,57.1429,9.0,8.0,88.889,3.0,7.0,75.0,NaN
8,2008,47.5207,42.6357,NaN,NaN,NaN,123.700,NaN,277.500,NaN,...,NaN,6.9,57.1429,9.0,8.0,88.889,3.0,6.0,75.0,NaN
9,2009,42.5620,35.6589,NaN,NaN,NaN,121.000,NaN,278.333,NaN,...,NaN,5.7,57.1429,9.0,8.0,88.889,3.0,8.0,75.0,0.0
10,2010,43.8017,33.3333,NaN,NaN,NaN,125.700,NaN,260.556,NaN,...,NaN,5.6,67.8571,8.0,7.0,87.500,3.0,6.0,75.0,0.0
11,2011,49.1736,39.5349,NaN,NaN,NaN,121.400,NaN,263.333,NaN,...,1.0,9.0,67.8571,9.0,8.0,88.889,3.0,6.0,75.0,0.0
12,2012,54.5455,51.1628,14.000,NaN,NaN,122.000,NaN,281.028,1394.75,...,0.0,10.0,67.8571,9.0,8.0,88.889,3.0,7.0,NaN,0.0
13,2013,54.5455,47.2868,14.400,NaN,NaN,131.400,NaN,290.778,1461.98,...,0.0,17.0,73.2143,9.0,8.0,88.889,3.0,7.0,75.0,0.0
14,2014,59.0909,56.5891,13.100,NaN,NaN,109.746,NaN,248.367,1061.94,...,0.0,12.0,71.4286,9.0,8.0,88.889,3.0,6.0,75.0,0.0
15,2015,54.9587,48.8372,NaN,NaN,NaN,58.900,1.262,142.342,582.75,...,NaN,10.0,75.0000,11.0,10.0,90.909,3.0,12.0,75.0,0.0
16,2016,53.7190,48.8372,NaN,NaN,NaN,58.732,0.927,133.930,451.00,...,NaN,9.0,75.0000,10.0,9.0,90.000,3.0,6.0,75.0,0.0
17,2017,53.3058,50.3876,6.908,NaN,NaN,59.500,1.082,138.227,484.00,...,NaN,NaN,75.0000,11.0,10.0,90.909,3.0,6.0,75.0,0.0
18,2018,50.0000,52.7132,6.317,NaN,NaN,61.868,1.010,148.361,498.00,...,NaN,NaN,60.7143,10.0,9.0,90.000,3.0,8.0,NaN,NaN
19,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.0,10.0,90.909,3.0,7.0,75.0,NaN
20,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
[i for i in esg_df.columns]

['Year',
 'ESG Disclosure Score',
 'Environmental Disclosure Score',
 'Direct CO2 Emissions',
 'Total CO2 Emissions',
 'CO2 Intensity per Energy',
 'Total GHG Emissions',
 'NOx Emissions',
 'Total Energy Consumption',
 'Total Water Use',
 'Hazardous Waste',
 'Total Wasts',
 'Environmental Fines #',
 'Environmental Fines $',
 'Social Disclosure Score',
 'Number of Employees',
 '% Women in Workforce',
 '% Women in Mgt',
 'Workforce Accidents',
 'Fatalities - Employees',
 'Community Spending',
 'Governance Disclosure Score',
 'Size of Board',
 'Indep Directors',
 '% Indep Directors',
 'Board Duration (Years)',
 '# Board Meetings',
 'Board Mtg Attendance',
 'Political Donations']